# This is a name of dir for auto generate documentation if you want generated documents you must run doxygen  
new_docs_class

# Garbage that occurs during project compilation
build

# Ide Folder
.vscode  

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
